{% extends 'base.html.twig' %}

{% block title %}Edit Plato{% endblock %}

{% block body %}
    <h1>Edit Plato</h1>

    {{ include('plato_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_plato_crud_index') }}">back to list</a>

    {{ include('plato_crud/_delete_form.html.twig') }}
{% endblock %}
