{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" style="max-width: 500px;">
                <h1 class="display-5 mb-5">Bebidas</h1>
            </div>
            <div class="row g-4">
                 {% for bebida in bebidas %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="card position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                                style="width: 64px; height: 64px;">
                                {# ruta anterior:  "img/juegosDeMesa/"~ #}
                                <img class="img-fluid" src={{bebida.foto}} alt="Icon">
                            </div>
                            <div class="text-center">
                                <h3 class="mb-3">{{bebida.nombre}}</h3>
                            </div>
                            <div class="text-start">
                                <p class="mb-2">{{bebida.descripcion}}</p>
                                <h5 class="mb-2">{{bebida.precio}}€</h5>
                            </div>
                        </div>
                        {# <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Leer mas<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div> #}
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}