{% extends 'base.html.twig' %}

{% block title %}Edit Presencia{% endblock %}

{% block body %}
    <h1>Edit Presencia</h1>

    {{ include('presencia_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_presencia_crud_index') }}">back to list</a>

    {{ include('presencia_crud/_delete_form.html.twig') }}
{% endblock %}
