{% extends 'base.html.twig' %}

{% block title %}New Presencia{% endblock %}

{% block body %}
    <h1>Create new Presencia</h1>

    {{ include('presencia_crud/_form.html.twig') }}

    <a href="{{ path('app_presencia_crud_index') }}">back to list</a>
{% endblock %}
