{% extends 'base.html.twig' %}

{% block title %}Editar usuario{% endblock %}

{% block body %}
    <h1>Editar usuario</h1>

    {{ include('user_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_crud_index') }}">Volver a la lista</a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
