@font-face {
    font-family: 'dacherry';
    src: url('/public/css/fonts/Dacherry.ttf') format('truetype');
}

@font-face {
    font-family: 'dacherry2';
    src: url('/public/css/fonts/Dacherry.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');