.container-pedidos {
    body {
        font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        color: #361f18;
    }

    h1 {
        font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 2rem;
        font-weight: 800;
        color: #e6a756;
    }



    .section-title {
        margin-top: 20px;
    }

    .add-to-cart-btn {
        background-color: #e6a756;
        color: #ffffff;
        border: none;
        padding: 6px 12px;
        font-size: 1rem;
        cursor: pointer;
    }

    .add-to-cart-btn:hover {
        background-color: #dba158;
    }

    .cart-btn {
        background-color: #e6a756;
        color: #ffffff;
        border: none;
        padding: 6px 12px;
        font-size: 0.9rem;
        cursor: pointer;
    }

    .cart-btn:hover {
        background-color: #dba158;
    }

    #cart-icon {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #e6a756;
        cursor: pointer;
    }

    #cart-modal .modal-dialog {
        max-width: 500px;
    }

    #cart-modal .modal-content {
        padding: 20px;

        h5 {
            text-decoration: underline;
        }
    }

    #cart-modal .modal-body {
        max-height: 400px;
        overflow-y: auto;
    }

    #cart-modal .item {
        margin-bottom: 10px;
    }

    #cart-modal .item .name {
        font-weight: 600;
    }

    #cart-modal .item .price {
        font-size: 0.9rem;
        color: #666666;
    }

    #cart-modal .item .quantity {
        font-size: 0.9rem;
        color: #666666;
        margin-left: 10px;
    }

    #cart-modal .total-price {
        font-weight: 600;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;

        .footer-left {
            text-align: left;
        }

        .footer-right {
            text-align: right;
        }
    }
}