.containerQR {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #776862;
    border-radius: 5px;

    h1 {
        color: #e6a756;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: #e0ccb4;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #e0ccb4;
        border-radius: 3px;
        color: #e0ccb4;
        background-color: #776862;
    }

    button {
        padding: 10px 20px;
        background-color: #e0ccb4;
        color: #776862;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &#imprimir-qr{
            margin-top: 20px;
            display: none;
        }
    }

    

    #codigoQR {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}